/**
 * Stylesheet for the personal webpage of Chris DeLuca
 *
 * @author Chris DeLuca
 */

/**
 * Font declarations and misc
 */
@font-face {
    font-family: 'CodaHeavy';
    src: url('coda/Coda-Heavy-webfont.eot');
    src: url('coda/Coda-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('coda/Coda-Heavy-webfont.woff') format('woff'),
         url('coda/Coda-Heavy-webfont.ttf') format('truetype'),
         url('coda/Coda-Heavy-webfont.svg#CodaHeavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'socialicoregular';
    src: url('socialico/socialico-webfont.eot');
    src: url('socialico/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('socialico/socialico-webfont.woff') format('woff'),
         url('socialico/socialico-webfont.ttf') format('truetype'),
         url('socialico/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.icon {
	font-family: socialicoregular;
	font-size: 2.5em;
}
::-moz-selection {
  background: #DD4B4B;
  color: #fff;
  text-shadow: none !important;
}
::selection {
  background: #DD4B4B;
  color: #fff;
  text-shadow: none !important;
}

/**
 * Main tag and content styling
 */
body {
  min-width: 960px;
  margin: 0 auto;
  background: #D4D4D4;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 82.5%;
  text-shadow: 1px 1px 0 #fff;
  color: #212121;
}
a {
  color: #212121;
  text-decoration: underline;
  text-decoration-style: dotted;
  -webkit-transition: color .5s linear;
  	-moz-transition: color .5s linear;
  	  -o-transition: color .5s linear;
  		transition: color .5s linear;
}
a:hover, a:focus {
  color: #DD4B4B;
  -webkit-transition: color .15s linear;
  	-moz-transition: color .15s linear;
  	  -o-transition: color .15s linear;
  		transition: color .15s linear;
}
h1, h2, h3 {
  font-family: 'CodaHeavy';
  color: #DD4B4B;
  letter-spacing: 1.4px;
  text-shadow: 2px 2px 0 #000;
}
h1 {
  text-shadow: 2px 4px 0 #000;
  font-size: 2.4em;
}
h2 {
  font-size: 2.0em;
}
h3 {
   font-size: 1.8em;
}
header {
  padding: 0 120px 0;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}
header p {
  margin: 15px 0 0 30px;
  width: 350px;
  float: left;
  line-height: 1.7;
}
header h1 {
  float: left;
  margin: 20px 0 0 20px;
}
#header-bg {
  height: 100px;
  box-shadow: 1px 1px 3px #333;
  background: #c3c3c3; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MzYzNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2I2YjZiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMGIwYjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #c3c3c3 0%, #b6b6b6 47%, #b0b0b0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3c3c3), color-stop(47%,#b6b6b6), color-stop(100%,#b0b0b0));
  background: -webkit-linear-gradient(top,  #c3c3c3 0%,#b6b6b6 47%,#b0b0b0 100%);
  background: -o-linear-gradient(top,  #c3c3c3 0%,#b6b6b6 47%,#b0b0b0 100%);
  background: -ms-linear-gradient(top,  #c3c3c3 0%,#b6b6b6 47%,#b0b0b0 100%);
  background: linear-gradient(top,  #c3c3c3 0%,#b6b6b6 47%,#b0b0b0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3c3', endColorstr='#b0b0b0',GradientType=0 );
}
#headshot {
  border-left: 8px solid #DD4B4B;
  border-right: 8px solid #DD4B4B;
  border-bottom: 8px solid #DD4B4B;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 4px 4px 2px #888;
}
#linkedin {
  width: 32px;
  height: 32px;
  margin: 50px 50px 0 0;
  position: relative;
  background: url(images/linkedin.png) 0 0 no-repeat transparent;
}
#linkedin:hover {
  background: url(images/linkedin.png) 0 -32px no-repeat transparent;
}
#content {
  margin: 0 auto;
  width: 100%;
}
section#options {
  margin: 150px 0 0 20px;
  padding: 20px;
  font-size: 1.3em;
}
section#options #show-buttons {
  border-bottom: 13px solid #B1B1B1;
  border-radius: 25px;
}
section#options button {
  border: 1px solid #BBB;
  border-radius: 10px 10px 0 0;
  color: #212121;
  box-shadow: 0 1px rgba(255, 255, 255, 0.75) inset, 0 2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px rgba(255, 255, 255, 0.35);
  padding-bottom: 5px;
  height: 25px;
  background: rgb(235,235,235);
  background: -moz-linear-gradient(top,  rgba(235,235,235,1) 0%, rgba(212,212,212,1) 64%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,1)), color-stop(100%,rgba(212,212,212,1)));
  background: -webkit-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(212,212,212,1) 64%);
  background: -o-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(212,212,212,1) 64%);
  background: -ms-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(212,212,212,1) 64%);
  background: linear-gradient(to bottom,  rgba(235,235,235,1) 0%,rgba(212,212,212,1) 64%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#d4d4d4',GradientType=0 );
}
section#options button:hover {
  cursor: pointer;
  background: rgb(212,212,212);
  background: -moz-linear-gradient(top,  rgba(212,212,212,1) 0%, rgba(235,235,235,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,212,212,1)), color-stop(100%,rgba(235,235,235,1)));
  background: -webkit-linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(235,235,235,1) 100%);
  background: -o-linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(235,235,235,1) 100%);
  background: -ms-linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(235,235,235,1) 100%);
  background: linear-gradient(to bottom,  rgba(212,212,212,1) 0%,rgba(235,235,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#ebebeb',GradientType=0 );
}
#social-icons {
	float: right;
	margin: 40px 40px 0 0;
}
#social-icons li {
	display: inline;
	padding-left: 10px;
}
#social-icons a {
	text-decoration: none;
}
#description {
  width: 360px;
  padding: 20px;
  line-height: 1.2em;
  font-family: 'Ubuntu', sans-serif;
  background: #D4D4D4;
  border-radius: 10px;
  box-shadow: inset 1px 2px 5px #000;
  margin: 30px 0 0 55px;
}
footer {
  width: 100%;
  background: #6B6B6B;
  text-shadow: none;
  box-shadow: 0 -2px 15px #333;
}
footer li {
  list-style-type: lower-greek;
}
footer figure, footer ul, footer h3 {
  margin: 10px auto 20px;
  width: 248px;
}
footer div {
  margin: 0 auto;
}
footer ul {
  margin-right: 80px;
}
footer .icon {
  font-size: 1.5em;
  color: #212121;
  text-shadow: none;
  position: relative;
  top: 3px;
  padding-right: 5px;
}
#badges figure {
  margin-right: 100px;
}
#twtr-widget-1 {
  width: 245px;
}
#twtr-widget-1 h3 {
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-shadow: none;
}
#twitter-feed, #badges, #favorites {
  width: 33%;
  float: left;
}
#favorites li {
  padding-bottom: 10px;
}
#legal {
  text-align: center;
}
iframe {
	margin-top: 85px;
}

/**
 * 3D Cube; heavily stolen from http://desandro.github.com/3dtransforms/docs/cube.html
 */
.container {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 150px 0;
  border: 1px solid #CCC;
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
       -o-perspective: 1000px;
          perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
}

#cube figure {
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  line-height: 400px;
  font-size: 140px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

#cube .front  { background: hsla(   0, 100%, 50%, 0.7 ); }
#cube .back   { background: hsla(  60, 100%, 50%, 0.7 ); }
#cube .right  { background: hsla( 120, 100%, 50%, 0.7 ); }
#cube .left   { background: hsla( 180, 100%, 50%, 0.7 ); }
#cube .top    { background: hsla( 240, 100%, 50%, 0.7 ); }
#cube .bottom { background: hsla( 300, 100%, 50%, 0.7 ); }

#cube .front  {
  -webkit-transform: translateZ( 200px );
     -moz-transform: translateZ( 200px );
       -o-transform: translateZ( 200px );
          transform: translateZ( 200px );
}
#cube .back   {
  -webkit-transform: rotateX( -180deg ) translateZ( 200px );
     -moz-transform: rotateX( -180deg ) translateZ( 200px );
       -o-transform: rotateX( -180deg ) translateZ( 200px );
          transform: rotateX( -180deg ) translateZ( 200px );
}
#cube .right {
  -webkit-transform: rotateY(   90deg ) translateZ( 200px );
     -moz-transform: rotateY(   90deg ) translateZ( 200px );
       -o-transform: rotateY(   90deg ) translateZ( 200px );
          transform: rotateY(   90deg ) translateZ( 200px );
}
#cube .left {
  -webkit-transform: rotateY(  -90deg ) translateZ( 200px );
     -moz-transform: rotateY(  -90deg ) translateZ( 200px );
       -o-transform: rotateY(  -90deg ) translateZ( 200px );
          transform: rotateY(  -90deg ) translateZ( 200px );
}
#cube .top {
  -webkit-transform: rotateX(   90deg ) translateZ( 200px );
     -moz-transform: rotateX(   90deg ) translateZ( 200px );
       -o-transform: rotateX(   90deg ) translateZ( 200px );
          transform: rotateX(   90deg ) translateZ( 200px );
}
#cube .bottom {
  -webkit-transform: rotateX(  -90deg ) translateZ( 200px );
     -moz-transform: rotateX(  -90deg ) translateZ( 200px );
       -o-transform: rotateX(  -90deg ) translateZ( 200px );
          transform: rotateX(  -90deg ) translateZ( 200px );
}

#cube.show-front {
  -webkit-transform: translateZ( -200px );
     -moz-transform: translateZ( -200px );
       -o-transform: translateZ( -200px );
          transform: translateZ( -200px );
}
#cube.show-back {
  -webkit-transform: translateZ( -200px ) rotateX( -180deg );
     -moz-transform: translateZ( -200px ) rotateX( -180deg );
       -o-transform: translateZ( -200px ) rotateX( -180deg );
          transform: translateZ( -200px ) rotateX( -180deg );
}
#cube.show-right {
  -webkit-transform: translateZ( -200px ) rotateY(  -90deg );
     -moz-transform: translateZ( -200px ) rotateY(  -90deg );
       -o-transform: translateZ( -200px ) rotateY(  -90deg );
          transform: translateZ( -200px ) rotateY(  -90deg );
}
#cube.show-left {
  -webkit-transform: translateZ( -200px ) rotateY(   90deg );
     -moz-transform: translateZ( -200px ) rotateY(   90deg );
       -o-transform: translateZ( -200px ) rotateY(   90deg );
          transform: translateZ( -200px ) rotateY(   90deg );
}
#cube.show-top {
  -webkit-transform: translateZ( -200px ) rotateX(  -90deg );
     -moz-transform: translateZ( -200px ) rotateX(  -90deg );
       -o-transform: translateZ( -200px ) rotateX(  -90deg );
          transform: translateZ( -200px ) rotateX(  -90deg );
}
#cube.show-bottom {
  -webkit-transform: translateZ( -200px ) rotateX(   90deg );
     -moz-transform: translateZ( -200px ) rotateX(   90deg );
       -o-transform: translateZ( -200px ) rotateX(   90deg );
          transform: translateZ( -200px ) rotateX(   90deg );
}

/**
 * Utility
 */
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearfix {
    clear: both;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
