/**
 * Stylesheet for the personal webpage of Chris DeLuca
 *
 * @author Chris DeLuca
 */

/**
 * Font declarations and misc
 */
@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('fonts/titillium/TitilliumText22L002-webfont.eot');
    src: url('fonts/titillium/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titillium/TitilliumText22L002-webfont.woff') format('woff'),
         url('fonts/titillium/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('fonts/titillium/TitilliumText22L002-webfont.svg#fonts/tillium/TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'socialicoregular';
    src: url('fonts/socialico/socialico-webfont.eot');
    src: url('fonts/socialico/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/socialico/socialico-webfont.woff') format('woff'),
         url('fonts/socialico/socialico-webfont.ttf') format('truetype'),
         url('fonts/socialico/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.icon {
	font-family: socialicoregular;
	font-size: 2.5em;
}
::-moz-selection {
  background: #DD4B4B;
  color: #fff;
  text-shadow: none !important;
}
::selection {
  background: #DD4B4B;
  color: #fff;
  text-shadow: none !important;
}

/**
 * Main tag and content styling
 */
body {
  background: #D4D4D4;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 82.5%;
  color: #212121;
  line-height: 1.2em;
}
a {
  color: #212121;
  text-decoration: underline;
  text-decoration-style: dotted;
  -webkit-transition: color .5s linear;
  	-moz-transition: color .5s linear;
  	  -o-transition: color .5s linear;
  		transition: color .5s linear;
}
a:hover, a:focus {
  color: #DD4B4B;
  -webkit-transition: color .15s linear;
  	-moz-transition: color .15s linear;
  	  -o-transition: color .15s linear;
  		transition: color .15s linear;
}
h1, h2, h3 {
  font-family: 'TitilliumText22LLight';
  color: #DD4B4B;
}
h1 {
  font-size: 3.6em;
}
h2 {
  font-size: 2.0em;
}
h3 {
  font-size: 1.8em;
}
p {
	margin-bottom: 10px;
}
br {
	margin: 5px 0;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
header {
  position: relative;
  height: 100px;
  box-shadow: 1px 1px 3px #333;
  background: #c3c3c3; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MzYzNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2I2YjZiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMGIwYjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #c3c3c3 0%, #b6b6b6 47%, #b0b0b0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3c3c3), color-stop(47%,#b6b6b6), color-stop(100%,#b0b0b0));
  background: -webkit-linear-gradient(top,  #c3c3c3 0%,#b6b6b6 47%,#b0b0b0 100%);
  background: -o-linear-gradient(top,  #c3c3c3 0%,#b6b6b6 47%,#b0b0b0 100%);
  background: -ms-linear-gradient(top,  #c3c3c3 0%,#b6b6b6 47%,#b0b0b0 100%);
  background: linear-gradient(top,  #c3c3c3 0%,#b6b6b6 47%,#b0b0b0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3c3', endColorstr='#b0b0b0',GradientType=0 );
}
header p {
  margin: 15px 0 0 20px;
  line-height: 1.7;
}
header h1 {
  float: left;
  text-shadow: 1px 1px 0 #fff;
  margin: 30px 0 0 20px;
}
header br {
  margin: 15px 0;
}
#headshot {
  margin-left: 6%;
  border-left: 4px solid #DD4B4B;
  border-right: 4px solid #DD4B4B;
  border-bottom: 4px solid #DD4B4B;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 4px 4px 2px #888;
}
#linkedin {
  width: 32px;
  height: 32px;
  margin: 50px 50px 0 0;
  position: relative;
  background: url(images/linkedin.png) 0 0 no-repeat transparent;
}
#linkedin:hover {
  background: url(images/linkedin.png) 0 -32px no-repeat transparent;
}
#content {
  margin: 150px auto;
}

/* Navigation */
nav#options {
  margin-right:10%;
  font-size: 1.3em;
  float: right;
}
nav#options #show-buttons {
  border-top: 1px solid #999;
  margin-top: 20px;
}
nav#options li {
  height: 25px;
  border-bottom: 1px solid #999;
  color: #212121;
  padding:15px;
  -webkit-transition: background 0.5s linear 0s;
  -moz-transition: background 0.5s linear 0s;
  -o-transition: background 0.5s linear 0s;
  transition: background 0.5s linear 0s;
}
nav#options li:hover {
  cursor: pointer;
  background: #c3c3c3;
  -webkit-box-shadow: inset 5px 0px #0BC117;
  -moz-box-shadow: inset 5px 0px #0BC117;
  -o-box-shadow: inset 5px 0px #0BC117;
  box-shadow: inset 5px 0px #0BC117;
}
#social-icons {
  margin-right: 16%;
	float: right;
}
#social-icons li {
	display: inline;
	padding-left: 10px;
}
#social-icons a {
	text-decoration: none;
}
#description {
  display:none;
  width: 360px;
  padding: 20px;
  line-height: 1.4em !important;
  font-family: 'Ubuntu', sans-serif;
  background: #D4D4D4;
  border-radius: 10px;
  box-shadow: inset 1px 2px 5px #000;
  margin: 30px 0 0 55px;
}

/* Footer */
footer {
  text-align: center;
  margin: 0 auto;
}
#badges {
}
#badges figure {
  width: 50%;
  float: left;
}
#legal {
  padding: 40px 0;
  font-size: 0.8em;
}

/**
 * 3D Cube; heavily stolen from http://desandro.github.com/3dtransforms/docs/cube.html
 */
.container {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 150px auto;
  border: 1px solid #CCC;
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
       -o-perspective: 1000px;
          perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
}

#cube figure {
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  line-height: 400px;
  font-size: 140px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

#cube .front  { background: hsla(   0, 100%, 50%, 0.7 ); }
#cube .back   { background: hsla(  60, 100%, 50%, 0.7 ); }
#cube .right  { background: hsla( 120, 100%, 50%, 0.7 ); }
#cube .left   { background: hsla( 180, 100%, 50%, 0.7 ); }
#cube .top    { background: hsla( 240, 100%, 50%, 0.7 ); }
#cube .bottom { background: hsla( 300, 100%, 50%, 0.7 ); }

#cube .front  {
  -webkit-transform: translateZ( 200px );
     -moz-transform: translateZ( 200px );
       -o-transform: translateZ( 200px );
          transform: translateZ( 200px );
}
#cube .back   {
  -webkit-transform: rotateX( -180deg ) translateZ( 200px );
     -moz-transform: rotateX( -180deg ) translateZ( 200px );
       -o-transform: rotateX( -180deg ) translateZ( 200px );
          transform: rotateX( -180deg ) translateZ( 200px );
}
#cube .right {
  -webkit-transform: rotateY(   90deg ) translateZ( 200px );
     -moz-transform: rotateY(   90deg ) translateZ( 200px );
       -o-transform: rotateY(   90deg ) translateZ( 200px );
          transform: rotateY(   90deg ) translateZ( 200px );
}
#cube .left {
  -webkit-transform: rotateY(  -90deg ) translateZ( 200px );
     -moz-transform: rotateY(  -90deg ) translateZ( 200px );
       -o-transform: rotateY(  -90deg ) translateZ( 200px );
          transform: rotateY(  -90deg ) translateZ( 200px );
}
#cube .top {
  -webkit-transform: rotateX(   90deg ) translateZ( 200px );
     -moz-transform: rotateX(   90deg ) translateZ( 200px );
       -o-transform: rotateX(   90deg ) translateZ( 200px );
          transform: rotateX(   90deg ) translateZ( 200px );
}
#cube .bottom {
  -webkit-transform: rotateX(  -90deg ) translateZ( 200px );
     -moz-transform: rotateX(  -90deg ) translateZ( 200px );
       -o-transform: rotateX(  -90deg ) translateZ( 200px );
          transform: rotateX(  -90deg ) translateZ( 200px );
}

#cube.show-front {
  -webkit-transform: translateZ( -200px );
     -moz-transform: translateZ( -200px );
       -o-transform: translateZ( -200px );
          transform: translateZ( -200px );
}
#cube.show-back {
  -webkit-transform: translateZ( -200px ) rotateX( -180deg );
     -moz-transform: translateZ( -200px ) rotateX( -180deg );
       -o-transform: translateZ( -200px ) rotateX( -180deg );
          transform: translateZ( -200px ) rotateX( -180deg );
}
#cube.show-right {
  -webkit-transform: translateZ( -200px ) rotateY(  -90deg );
     -moz-transform: translateZ( -200px ) rotateY(  -90deg );
       -o-transform: translateZ( -200px ) rotateY(  -90deg );
          transform: translateZ( -200px ) rotateY(  -90deg );
}
#cube.show-left {
  -webkit-transform: translateZ( -200px ) rotateY(   90deg );
     -moz-transform: translateZ( -200px ) rotateY(   90deg );
       -o-transform: translateZ( -200px ) rotateY(   90deg );
          transform: translateZ( -200px ) rotateY(   90deg );
}
#cube.show-top {
  -webkit-transform: translateZ( -200px ) rotateX(  -90deg );
     -moz-transform: translateZ( -200px ) rotateX(  -90deg );
       -o-transform: translateZ( -200px ) rotateX(  -90deg );
          transform: translateZ( -200px ) rotateX(  -90deg );
}
#cube.show-bottom {
  -webkit-transform: translateZ( -200px ) rotateX(   90deg );
     -moz-transform: translateZ( -200px ) rotateX(   90deg );
       -o-transform: translateZ( -200px ) rotateX(   90deg );
          transform: translateZ( -200px ) rotateX(   90deg );
}

/**
 * Utility
 */
.float-left {
  float: left;
}
#content img.float-left {
	padding-right: 15px;
}
.float-right {
  float: right;
}
.clearfix {
  clear: both;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
